.btn-key:hover {
  background-color: #d9d9d9 !important;
}

/* big screen */
@media (min-width: 1000px) { 
  .btn-key {
    width: 60px !important;
    height: 60px !important;
    margin: 4px !important;
    filter: drop-shadow(0 0.18rem 0.18rem rgba(0, 0, 0, 0.2));
  }

  .btn-special {
    width: 84px !important;
    height: 60px !important;
  }

  .tile {
    font-size: 34px;
    width: 75px !important;
    height: 75px !important;
    line-height: 75px;
    border-radius: 7px;
  }

  .title {
    font-family: "JetBrains Mono", monospace;
    font-size: 50px;
    font-weight: 800;
  }

}

/* medium screen */
@media (max-width: 1000px) { 
  .btn-key {
    width: 50px !important;
    height: 50px !important;
    margin: 4px !important;
    filter: drop-shadow(0 0.18rem 0.18rem rgba(0, 0, 0, 0.2));
  }

  .btn-special {
    width: 74px !important;
    height: 50px !important;
  }

  .tile {
    font-size: 30px;
    width: 63px !important;
    height: 63px !important;
    line-height: 63px;
    border-radius: 7px;
  }

  .title {
    font-family: "JetBrains Mono", monospace;
    font-size: 50px;
    font-weight: 800;
  }

}

/* small screen */
@media (max-width: 768px) {
  .btn-key {
    width: 15px !important;
    height: 47px !important;
    padding-left: 12px !important;
    padding-right: 16px !important;
    margin-right: 5px !important;
    margin: 2px 2px 2px 2px !important;
    font-size: 12px !important;
    filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
  }

  .btn-special {
    width: 50px !important;
    height: 47px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    font-size: small !important;
  }

  .tile {
    font-size: 18px;
    width: 50px !important;
    height: 50px !important;
    line-height: 50px;
    border-radius: 7px;
  }

  .title {
    font-family: "JetBrains Mono", monospace;
    font-size: 40px;
    font-weight: 800;
  }

}

.guess-row {
  background-color: gray;
}

.success {
  background-color: #6aff81 !important;
  border-color: #6aff81 !important;
}

.success-light {
  background-color: #b2ffbe !important;
  border-color: #b2ffbe !important;
}

.partial {
  background-color: #ffff6a !important;
  border-color: #ffff6a !important;
}

.wrong {
  background-color: #f3f3f2 !important;
  border-color: #f3f3f2 !important;
}

.wrong-key {
  background-color: #c6c6c6 !important;
  border-color: #c6c6c6 !important;
}

.bottom-margin {
  margin-bottom: 8%;
}

.tile-style {
  border: 1px solid black;
  text-align: center;
  font-family: "JetBrains Mono", monospace;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.grid-container {
  display: grid;

  grid-template-columns: auto auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}

body {
  background: rgb(158, 46, 255);
  background: linear-gradient(
    90deg,
    rgba(158, 46, 255, 0.541036482952556) 0%,
    rgba(49, 220, 255, 0.5970588919161415) 100%
  );
}

.shadow {
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
}
