@media (min-width: 300px) {
  .btn-key {
    width: 50px !important;
    height: 50px !important;
    margin: 4px !important;
  }

  .btn-special {
    width: 84px !important;
    height: 50px !important;
  }

  .success {
    background-color: green !important;
  }
}

@media (max-width: 768px) {
  .btn-key {
    width: 21px !important;
    padding-left: 13px !important;
    padding-right: 13px !important;
    margin: 2px !important;
    height: 47px !important;
    font-size: 9px !important;
  }

  .btn-special {
    width: 55px !important;
    height: 47px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    font-size: small !important;
  }
}

.guess-row {
    background-color: gray;
}
