@media (min-width: 300px) {
  .btn-key {
    width: 60px !important;
    height: 60px !important;
    margin: 4px !important;
  }

  .btn-special {
    width: 84px !important;
    height: 60px !important;
  }

}

@media (max-width: 768px) {
  .btn-key {
    width: 21px !important;
    padding-left: 13px !important;
    padding-right: 13px !important;
    margin: 2px !important;
    height: 47px !important;
    font-size: 9px !important;
  }

  .btn-special {
    width: 55px !important;
    height: 47px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    font-size: small !important;
  }
}

.guess-row {
    background-color: gray;
}

.success {
  background-color: #6aff81 !important;
}

.partial {
  background-color: #ffff6a !important;
}

.wrong {
  background-color: #f3f3f2 !important;
}

.bottom-margin {
  margin-bottom: 8%;
}

.tile {
  border: 1px solid black;
  font-size: 34px;
  width: 75px !important;
  height: 75px !important;
  line-height: 75px;
  text-align: center;
  border-radius: 7px;
  font-family: 'JetBrains Mono', monospace;
  
}

.grid-container {
  display: grid;
  
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}